.cache
.sconsign.dblite
config.log
.sconf_temp
_build.log
_build.sh
_build.tags
*.o
*.os
*.so
*.cfgc
*.pyc
python/lsst/sconsUtils/version.py
doc/html
doc/doxygen.conf
doc/sconsUtils.tag
tests/.tests
tests/testFailedTests/python
tests/testFailedTests/tests/.tests
