.cache
.pytest_cache
.sconsign.dblite
config.log
.sconf_temp
_build.log
_build.sh
_build.tags
*.o
*.os
*.so
*.cfgc
*.pyc
pytest_session.txt
bin/
bin/makeLinkFarm
bin/sconsOpts
python/lsst/sconsUtils/version.py
doc/html
doc/doxygen.conf
doc/sconsUtils.tag
tests/.tests
tests/testFailedTests/python
tests/testFailedTests/tests/.tests
.coverage
python/*.egg-info/
