# -*- python -*-

import lsst.sconsUtils

dependencies = {
    "required": ["apr"],
}

config = lsst.sconsUtils.ExternalConfiguration(
    __file__,
    headers=[],
    libs=["aprutil-1", "iconv"],
)
