# -*- python -*-

import lsst.sconsUtils
from lsst.sconsUtils import ExternalConfiguration
import os

dependencies = {
    "required": [],
}

class Minuit2Configuration(ExternalConfiguration):

    def configure(self, conf, packages, check=False, build=True):
        configured = ExternalConfiguration.configure(self, conf, packages, check, build)
        # We add this to support minuit2_standalone, which puts headers under Minuit2
        includePath = os.path.join(self._get_config_var("CONFINCLUDEPY"), "../Minuit2")
        conf.env.AppendUnique(XCPPPATH=includePath)
        return configured

config = Minuit2Configuration(
    __file__,
    headers=["Minuit2/FCNBase.h"],
    libs=["Minuit2"],
)
